/*colors*/
$red:rgb(252,83,155);
$blue1:rgb(0,122,255);
$blue2:rgb(165,208,254);
$gray1:#f8f8f8;
$black:rgb(55,55,55);
$gray2:#e3e4e6;
$border-bottom:1px solid rgb(219,219,219);
$mask:rgba(0,0,0,0.5);