<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0  minimal-ui">
    <!--视图窗口移动端特有的标签 上面的代码设置依次表示为设置宽度为设备宽度，禁止缩放 网页加载时隐藏地址栏与导航栏（ios7新增）-->
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>{% block title %}匿匿{% endblock %}</title>
    {% block css %}
    {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
<div class="copyright">
    <p><a href="/copyright">{% block wechat %}{% endblock %}冰岩作坊 版权所有</a></p>
    <p>Copyright 2015 Bingyan Studio.All rights reserved!</p>
</div>
<div style="display: none">
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254040455'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/stat.php%3Fid%3D1254040455' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>
</html>