<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0  minimal-ui">
    <!--视图窗口移动端特有的标签 上面的代码设置依次表示为设置宽度为设备宽度，禁止缩放 网页加载时隐藏地址栏与导航栏（ios7新增）-->
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>匿匿版权声明</title>
</head>
<style>
body{
    font-size: 14px;
    font-family: "Microsoft Yahei";
    padding:10px;
}
    p{
        margin-bottom: 2px;
        text-indent: 2em;
    }
    mark{
        background-color:#fff;
    }
</style>
<body>
<p>
    冰岩作坊拥有匿匿网站内容及资源的版权，包括但不限于文字、图标、图片、图形、表格、版面设计、排版方式、动画、程序、网页、软件等单独或组合的版权。
    冰岩作坊受国家知识产权保护，享有对本网站声明的解释与修改权。
</p>
<p>
    匿匿页面所有信息受《中华人民共和国著作权法》及相关法律法规和中国加入的所有知识产权方面的国际条约保护。
</p>
<p>
    经明确书面许可和冰岩作坊匿匿团队合作第三方，应当在作品的指定位置注明，注明 <mark>「冰岩作坊 版权所有 Copyright 2015 Bingyan Studio.All Rights Reserved.」</mark> ，并不得对作品进行修改演绎。
</p>
<p>
    未经冰岩作坊的明确书面许可，任何人不得擅自使用匿匿的任何知识产权。不得以任何方式，包括但不限于以非法的方式复制、传播、展示、镜像、上载、下载，或对匿匿网站资料作全部和局部复制、转载、引用和链接等。否则冰岩作坊将追究其法律责任。
</p>

</body>
</html>